<div class="page-container">
  <div class="page-content">
    <div class="page-header">
      Airline Ltd.
    </div>

    <p-table [value]="flights" class="table">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            Origin
            <p-columnFilter type="text" field="origin" display="menu"></p-columnFilter>
          </th>
          <th>
            Destination
            <p-columnFilter type="text" field="destination" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="date">
            Date
            <p-sortIcon field="date"></p-sortIcon>
            <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
          </th>
          <th pSortableColumn="length">
            Length
            <p-sortIcon field="length"></p-sortIcon>
            <p-columnFilter type="numeric" field="length" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="price">
            Price
            <p-sortIcon field="price"></p-sortIcon>
            <p-columnFilter type="numeric" field="price" display="menu"></p-columnFilter>
          </th>
          <th>

          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-flight>
        <tr>
          <td>{{flight.origin}}</td>
          <td>{{flight.destination}}</td>
          <td>{{flight.date | date: 'shortDate'}}</td>
          <td>{{flight.length}}</td>
          <td>{{flight.price}}</td>
          <td>
            <button pButton type="button" label="Book Me !" (click)="bookMe(flight)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>



  </div>
</div>
